<div class="page-header">
    <h3 class="page-title"> Cadastar Produto </h3>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <div class="template-demo">
                        <!--INICIO FORMULARIO-->
                        <!-- ESTA DANDO ALGUM ERRO QUE NAO SEI QUE PORRA QUE E NO FORM TO CANSADO DEIXA PRO LUCAS DO FUTURO-->
                        <form (ngSubmit)="onSubmit()" class="row g-3">
                            <div class="col-md-6 mt-2">
                                <label for="pais" class="form-label">Pais</label>
                                <div class="input-group">
                                    <select id="pais" name="pais" class="form-control btn-square text-white">
                                        <option selected>SELECIONE</option>
                                        <option *ngFor="let item of listCountry" value="{{item.sigla}}">
                                            {{item.nome_pais_int}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 mt-2">
                                <label for="bandeira" class="form-label">Bandeira</label>
                                <div class="input-group">
                                    <select id="bandeira" name="bandeira" class="form-control btn-square text-white">
                                        <option value="">Todos</option>
                                        <option value="{{ban.bandeira}}" *ngFor="let ban of listaBandeira">
                                            {{ban.bandeira}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6 mt-2">
                                <label for="tipo" class="form-label">Tipo</label>
                                <div class="input-group">
                                    <select id="tipo" name="tipo" class="form-control btn-square text-white">
                                        <option selected>SELECIONE</option>
                                        <option value="CREDIT">CREDIT</option>
                                        <option value="DEBIT">DEBIT</option>
                                        <option value="CHARGE CARD">CHARGE CARD</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6 mt-2">
                                <label for="observa" class="form-label">Observacoes</label>
                                <div class="input-group">
                                    <select id="observa" name="observa" class="form-control btn-square text-white">
                                        <option value="">Todos</option>
                                        <option *ngFor="let obss of listaObservacoes" value="{{obss.obs}}">{{obss.obs}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 mt-2">
                                <label for="bin" class="form-label">Bin</label>
                                <input type="text" class="form-control" id="bin" name="bin">
                            </div>

                            <div class="col-md-2 mt-2">
                                <label for="banco" class="form-label">Banco</label>
                                <input type="text" class="form-control" id="banco" name="banco">
                            </div>

                            <div class="col-md-2 mt-2">
                                <label for="level" class="form-label">Level</label>
                                <div class="input-group">
                                    <select id="level" name="level" class="form-control btn-square text-white">
                                        <option value="">Todos</option>
                                        <option *ngFor="let item of listaLevel" value="{{item.nome}}">{{item.nome}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 mt-4">
                                <button class="btn btn-outline-success mx-2" type="button" ata-target="#examploCadastrarProduto" data-toggle="modal">Cadastrar</button>
                            </div>
                        </form>
                        <!--FIM FORMULARIO-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL CADASTRO FINALIZADO-->
<div class="modal fade" id="examploCadastrarProduto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-footer alert-success text-center">
                <div class="col-md-12 alert alert-success" role="alert">
                    Produto Cadastro com sucesso <a href="#" class="alert-link" data-dismiss="modal">#092028</a>.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <div class="template-demo">
                        <form class="row g-3">
                            <div class="col-md-12 mt-2">
                                <app-list-register-product></app-list-register-product>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>