`<div class="page-header">
    <h3 class="page-title">Termos</h3>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <ul>
                        <li><h3>Aviso de Responsabilidade</h3></li>
                    </ul>
                    <div class="template-demo">
                        <ul>
                            <li>Gostaríamos de informar a todos os nossos clientes que, após a entrega das informações, não podemos ser responsabilizados por problemas ou defeitos identificados após 10 minutos. Esta política visa estabelecer limites claros e justos para ambas as partes envolvidas.</li>
                            <li>Compreendemos o quão importante é para você, como cliente, receber produtos de qualidade que atendam às suas expectativas. No entanto, após o período de 10 minutos, torna-se desafiador determinar se os problemas surgiram devido à qualidade das informações ou a fatores externos que possam ter ocorrido após a entrega.</li>
                            <li>Nossos cartões de crédito já passam por testes antes de serem disponibilizados, garantindo sua funcionalidade. Caso encontre alguma dificuldade, verifique o relatório da conta e entre em contato conosco.</li>
                            <hr>
                            <li><h3>Regras para Usuários</h3></li>
                            <hr>
                            <li><p>1. Ao criar uma conta na QUANTUM, você concorda com as regras descritas nesta seção.</p></li>
                            <li><p>2. O prazo para solicitar reembolso do seu cartão de crédito é de apenas 10 minutos após a compra. Após esse período, não será possível obter reembolso, sem exceções.</p></li>
                            <li><p>3. A responsabilidade de exceder os níveis de segurança dos cartões de crédito, como VBV, MCSC ou AMEXSAFECARD, é do usuário. Não nos responsabilizamos nem fornecemos reembolso por cartões com essas características.</p></li>
                            <li><p>5. O tempo de resposta do nosso suporte pode variar, pois ocasionalmente estamos ocupados melhorando nossa plataforma para oferecer uma experiência ainda melhor aos nossos clientes.</p></li>
                            <li><p>6. Não podemos trocar informações devido a dados não correspondentes. Os dados são fornecidos pelos nossos sistemas, e não podemos alterá-los manualmente.</p></li>
                            <li><p>7. Após adicionar saldo à sua conta, não será possível realizar estornos. Pedimos que entenda e não insista nessa solicitação.</p></li>
                            <li><p>8. Nossa loja tem uma taxa de aprovação de 100% e oferecemos apenas cartões de crédito funcionais. Se o cartão não estiver operacional, você receberá uma notificação de erro. Pedimos desculpas por qualquer inconveniente e recomendamos que escolha outro produto para evitar qualquer perda financeira.</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Contate-nos</h3>
                </div>
                <div class="template-demo">
                    <p>Estamos disponíveis no chat ao vivo 24 horas por dia, 7 dias por semana. Basta clicar no ícone no canto direito da página para iniciar uma conversa. Atualmente, nosso tempo de resposta é de 45 segundos.</p>
                </div>
            </div>
        </div>
    </div>
</div>
```
