<div class="page-header">
    <h3 class="page-title"> Termos </h3>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                   
                    <ul><li> <h3>Aviso de Responsabilidade</h3></li></ul>
                    <div class="template-demo">
                        
                        <ul>
                            <li>Gostaríamos de informar a todos os clientes que, a partir da entrega das informações,
                                não nos responsabilizamos por problemas ou defeitos encontrados após 10 minutos. Essa
                                política visa estabelecer limites claros e justos para ambas as partes envolvidas.</li>
                            <li>Entendemos que é crucial para você, como cliente, receber produtos de qualidade que
                                atendam às suas expectativas. No entanto, após o período de 10 minutos, torna-se difícil
                                determinar se os problemas surgiram devido à qualidade das informações ou a fatores
                                externos que possam ter ocorrido após a entrega.</li>
                            <li>CCs ja sao testada?
                                As ccs já são testadas lá quando você pega no principal, ou seja só testar no relatório
                                da conta caso você não consiga usar.</li>
                            <li></li>
                            <hr>
                            <li>
                                <h3>REGRAS PARA USUÁRIOS</h3>
                            </li>
                            <hr>
                            <li>
                                <p>1. Ao criar uma conta na QUANTUM, você concorda com as regras descritas nesta seção.
                                </p>
                            </li>
                            <li>
                                <p>2. O prazo para solicitar reembolso do seu CC é de apenas 10 minutos após a compra.
                                    Após esse período, não será possível obter reembolso, sem exceção.</p>
                            </li>
                            <li>
                                <p>3. A responsabilidade de exceder os níveis de segurança dos CCs, como VBV, MCSC ou
                                    AMEXSAFECARD, recai sobre cada usuário. Não nos responsabilizamos nem fornecemos
                                    reembolso por CCS desse tipo.</p>
                            </li>
                            <li>
                                <p>4. Tenha em mente que não garantimos saldo nos CCs. Erros como CC sem saldo não são
                                    motivo para reembolso, uma vez que não temos o extrato dos CCs. Por favor, não
                                    insista.</p>
                            </li>
                            <li>
                                <p>5. O tempo de resposta do suporte pode variar, pois às vezes estamos ocupados
                                    aprimorando a plataforma.</p>
                            </li>
                            <li>
                                <p>6. Não podemos trocar informações devido a dados não correspondentes. Não são nós que
                                    digitamos.</p>
                            </li>
                            <li>
                                <p>7. Após você ter adicionado saldo à sua conta, não é possível realizar estornos. Por
                                    favor, não insista.</p>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>