<div class="page-header">
  <h3 class="page-title"> Produtos </h3>
</div>

<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <form method="post">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="exampleInputEmail1">BIN</label>
                  <input type="text" class="form-control text-light"
                    id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Level CC:</label>
                  <select class="form-control text-light"
                    id="exampleFormControlSelect1">
                    <option selected>Selecionar</option>
                    <option>Platinum </option>
                    <option>Standard </option>
                    <option>Infinite</option>
                    <option>Gold</option>
                    <option>Black</option>
                    <option>Personal</option>
                    <option>Classic </option>
                    <option>Basico</option>
                    <option>Personal Green Revolve </option>
                    <option>Executive</option>
                  </select>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Bandeira:</label>
                  <select class="form-control text-light"
                    id="exampleFormControlSelect1">
                    <option selected>Selecionar</option>
                    <option>Visa</option>
                    <option>Mastercard</option>
                    <option>American Express </option>
                    <option>Elo</option>
                    <option>American Express Company</option>
                    <option>Maestro </option>
                    <option>Discover</option>
                    <option>Cabal</option>
                    <option>Hipercard</option>
                    <option>Nativa </option>
                    <option>Rupay </option>
                    <option>Local Brand</option>
                    <option>Cirrus</option>
                    <option>UATP</option>
                    <option>Sodexo </option>
                    <option>Private Label </option>
                    <option>Private Label Card</option>
                    <option>Visa/Dankort</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Banco</label>
                  <select class="form-control text-light"
                    id="exampleFormControlSelect1">
                    <option selected>Selecionar</option>
                    <option>Stone Pagamentos</option>
                    <option>Banco Cooperativo Sicredi S.A.</option>
                    <option>Advanced Cc Ltda</option>
                    <option>Banco Inter</option>
                    <option>Neon Pagamentos</option>
                    <option>Superdigital</option>
                    <option>PagBank</option>
                    <option>Banco Agibank S.A.</option>
                    <option>Next</option>
                    <option>Banco Original</option>
                    <option>Nubank</option>
                    <option>Banco Willbank</option>
                    <option>Albatross Ccv S.A</option>
                    <option>Mercado Pago</option>
                    <option>PicPay</option>
                    <option>Avista S.A. Crédito, Financiamento e Investimento</option>
                    <option>B&T Cc Ltda</option>
                    <option>Banco A.J.Renner S.A.</option>
                    <option>Banco ABC Brasil S.A.</option>
                    <option>Banco ABN AMRO S.A</option>
                    <option>Banco Agibank S.A.</option>
                    <option>Banco Alfa S.A.</option>
                    <option>Banco Alvorada S.A.</option>
                    <option>Banco Andbank (Brasil) S.A.</option>
                    <option>Banco Arbi S.A.</option>
                    <option>Banco B3 S.A.</option>
                    <option>Banco SANTANDER</option>
                    <option>Banco BMG S.A.</option>
                    <option>Banco BNP Paribas Brasil S.A.</option>
                    <option>Banco BOCOM BBM S.A.</option>
                    <option>Banco Bradescard S.A.</option>
                    <option>Código Banco Beg S.A.</option>
                    <option>Banco Bradesco BERJ S.A.</option>
                    <option>Banco Bradesco Cartões S.A.</option>
                    <option>Banco Bradesco Financiamentos S.A.</option>
                    <option>Banco Bradesco S.A.</option>
                    <option>Banco BS2 S.A.</option>
                    <option>Banco BTG Pactual S.A.</option>
                    <option>Banco C6 S.A – C6 Bank</option>
                    <option>Banco Caixa Geral – Brasil S.A.</option>
                    <option>Banco Caixa Econômica Federal</option>
                    <option>Banco Capital S.A.</option>
                    <option>Banco Cargill S.A.</option>
                    <option>Banco Carrefour</option>
                    <option>Banco Cédula S.A.</option>
                    <option>Banco Cetelem S.A.</option>
                    <option>Banco Cifra S.A.</option>
                    <option>Banco Citibank S.A.</option>
                    <option>Banco Clássico S.A.</option>
                    <option>Banco Cooperativo do Brasil S.A. – BANCOOB</option>
                    <option>Banco Cooperativo Sicredi S.A.</option>
                    <option>Banco Credit Agricole Brasil S.A.</option>
                    <option>Banco Credit Suisse (Brasil) S.A.</option>
                    <option>Banco Crefisa S.A.</option>
                    <option>Banco da Amazônia S.A.</option>
                    <option>Banco da China Brasil S.A.</option>
                    <option>Banco Daycoval S.A.</option>
                    <option>Banco de Desenvolvimento do Espírito Santo S.A.</option>
                    <option>Banco de La Nacion Argentina</option>
                    <option>Banco de La Provincia de Buenos Aires</option>
                    <option>Banco de La Republica Oriental del Uruguay</option>
                    <option>Banco Digio S.A</option>
                    <option>Banco do Brasil S.A.</option>
                    <option>Banco do Estado de Sergipe S.A.</option>
                    <option>Banco do Estado do Pará S.A.</option>
                    <option>Banco do Estado do Rio Grande do Sul S.A.</option>
                    <option>Banco do Nordeste do Brasil S.A.</option>
                    <option>Banco Fair Corretora de Câmbio S.A</option>
                    <option>Banco Fator S.A.</option>
                    <option>Banco Fibra S.A.</option>
                    <option>Banco Ficsa S.A.</option>
                    <option>Banco Finaxis S.A.</option>
                    <option>Banco Guanabara S.A.</option>
                    <option>Banco Inbursa S.A.</option>
                    <option>Banco Industrial do Brasil S.A.</option>
                    <option>Banco Indusval S.A.</option>
                    <option>Banco Inter S.A.</option>
                    <option>Banco Investcred Unibanco S.A.</option>
                    <option>Banco Itaú BBA S.A.</option>
                    <option>Banco Itaú Consignado S.A.</option>
                    <option>Banco ItauBank S.A.</option>
                    <option>Banco Itaú</option>
                    <option>Banco J. P. Morgan S.A.</option>
                    <option>Banco Safra</option>
                    <option>Banco John Deere S.A.</option>
                    <option>Banco KDB S.A.</option>
                    <option>Banco KEB HANA do Brasil S.A.</option>
                    <option>Banco Luso Brasileiro S.A.</option>
                    <option>Banco Máxima S.A.</option>
                    <option>Banco Maxinvest S.A.</option>
                    <option>Banco Mercantil do Brasil S.A.</option>
                    <option>Banco Mizuho do Brasil S.A.</option>
                    <option>Banco Modal S.A.</option>
                    <option>Banco Morgan Stanley S.A.</option>
                    <option>Banco MUFG Brasil S.A.</option>
                    <option>Banco Nacional de Desenvolvimento Econômico e Social
                      – BNDES</option>

                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Tipo</label>
                  <select class="form-control text-light"
                    id="exampleFormControlSelect1">
                    <option selected>Selecionar</option>
                    <option>Credito</option>
                    <option>Debito</option>
                  </select>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col"><button type="button" class="btn btn-info col-12">Filtrar</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h4 class="card-title">Produtos CC</h4>

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Bin</th>
                  <th>Level.</th>
                  <th>Pais</th>
                  <th>Banco</th>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listaProdutos">
                  <td>{{item.bin}}</td>
                  <td>{{item.level}}</td>
                  <td>{{item.pais}}</td>
                  <td>{{item.banco}}</td>
                  <td>R$ {{item.preco}}</td>
                  <td><label class="badge badge-info">ADICIONAR CARRINHO</label></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>