<div class="page-header">
    <h3 class="page-title"> Produtos </h3>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                  <form method="post">
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label for="exampleInputEmail1">BIN</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Level</label>
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
                      <div class="w-100"></div>
                      <div class="col">
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Pais</label>
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Banco</label>
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
                      <div class="w-100"></div>
                      <div class="col"><button type="button" class="btn btn-info col-12">Filtrar</button></div>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4 class="card-title">Produtos CC</h4>
                   
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Bin</th>
                            <th>Level.</th>
                            <th>Pais</th>
                            <th>Banco</th>
                            <th>Valor</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of listaProdutos">
                            <td>{{item.bin}}</td>
                            <td>{{item.level}}</td>
                            <td>{{item.pais}}</td>
                            <td>{{item.banco}}</td>
                            <td>R$ {{item.preco}}</td>
                            <td><label class="badge badge-success">Comprar</label></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

