<div class="card">
    <div class="card-body">
        <h4 class="card-title">Produtos Cadastrados </h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th> Bin </th>
                        <th> CC </th>
                        <th> Pais </th>
                        <th> Bandeira </th>
                        <th> Tipo </th>
                        <th> Level </th>
                        <th> Banco </th>
                        <th> Preco </th>
                        <th> Obs </th>
                        <th> Adquirir </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 0002312 </td>
                        <td>
                            406871********|01|2030|431|j****o|2****8|**** 4|****7|**** |
                        </td>
                        <td> BRAZIL </td>
                        <td> VISA </td>
                        <td> DEBIT </td>
                        <td> DEBIT </td>
                        <td> ITAU UNIBANCO, S.A. </td>
                        <td> R$ 50 </td>
                        <td> NOME + CPF </td>
                        <td>
                            <form>
                                <a href="#"><div class="badge badge-outline-warning mx-2">Editar</div></a>
                                <a href="#"><div class="badge badge-outline-danger">Deletar</div></a>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td> 0002312 </td>
                        <td>
                            406871********|01|2030|431|j****o|2****8|**** 4|****7|**** |
                        </td>
                        <td> BRAZIL </td>
                        <td> VISA </td>
                        <td> DEBIT </td>
                        <td> DEBIT </td>
                        <td> ITAU UNIBANCO, S.A. </td>
                        <td> R$ 50 </td>
                        <td> NOME + CPF </td>
                        <td>
                            <form>
                                <a href="#"><div class="badge badge-outline-warning mx-2">Editar</div></a>
                                <a href="#"><div class="badge badge-outline-danger">Deletar</div></a>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td> 0002312 </td>
                        <td>
                            406871********|01|2030|431|j****o|2****8|**** 4|****7|**** |
                        </td>
                        <td> BRAZIL </td>
                        <td> VISA </td>
                        <td> DEBIT </td>
                        <td> DEBIT </td>
                        <td> ITAU UNIBANCO, S.A. </td>
                        <td> R$ 50 </td>
                        <td> NOME + CPF </td>
                        <td>
                            <form>
                                <a href="#"><div class="badge badge-outline-warning mx-2">Editar</div></a>
                                <a href="#"><div class="badge badge-outline-danger">Deletar</div></a>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
