<div class="page-header">
    <h3 class="page-title"> Carrinho </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Carrinho</a></li>
          <li class="breadcrumb-item active" aria-current="page">Finalizar Compra</li>
        </ol>
      </nav>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
             <div class="container-fluid mt-2 d-flex justify-content-center w-100">
                    <div class="table-responsive w-100">
                        <table class="table">
                            <thead>
                                <tr class="bg-dark text-white">
                                    <th>#</th>
                                    <th>Bin</th>
                                    <th class="text-end">Quantidade</th>
                                    <th class="text-end">Valor Unidade</th>
                                    <th class="text-end">Total</th>
                                    <th class="text-end">Remover</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-end">
                                    <td class="text-start">1</td>
                                    <td class="text-start">Brochure Design</td>
                                    <td>1</td>
                                    <td>$20</td>
                                    <td>$40</td>
                                    <td>
                                        <h4 class="text-center">
                                            <a href="#"><i class="mdi mdi-delete-forever"></i></a>
                                        </h4>
                                    </td>
                                </tr>
                                <tr class="text-end">
                                    <td class="text-start">2</td>
                                    <td class="text-start">Web Design Packages(Template) - Basic</td>
                                    <td>1</td>
                                    <td>$25</td>
                                    <td>$125</td>
                                    <td>
                                        <h4 class="text-center">
                                            <a href="#"><i class="mdi mdi-delete-forever"></i></a>
                                        </h4>
                                    </td>
                                </tr>
                                <tr class="text-end">
                                    <td class="text-start">3</td>
                                    <td class="text-start">Print Ad - Basic - Color</td>
                                    <td>1</td>
                                    <td>$500</td>
                                    <td>$4000</td>
                                    <td>
                                        <h4 class="text-center">
                                            <a href="#"><i class="mdi mdi-delete-forever"></i></a>
                                        </h4>
                                    </td>
                                </tr>
                                <tr class="text-end">
                                    <td class="text-start">4</td>
                                    <td class="text-start">Down Coat</td>
                                    <td>1</td>
                                    <td>$5</td>
                                    <td>$5</td>
                                    <td>
                                        <h4 class="text-center">
                                            <a href="#"><i class="mdi mdi-delete-forever"></i></a>
                                        </h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container-fluid mt-5 w-100  m-2">
                    <p class="text-end mb-2">Sub - Total amount: $12,348</p>
                    <p class="text-end">vat (10%) : $138</p>
                    <h4 class="text-end mb-5">Total : $13,986</h4>
                    <a href="#" class="btn btn-success float-right mt-4 mx-2" routerLink="/pagamento">Comprar</a>
                    <a href="#" class="btn btn-secondary float-right mt-4" routerLink="/">Cancelar</a>
                </div>
                
        </div>
    </div>
</div>