<div class="container-scroller" *ngIf="inAcesso;else inLogin">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="index.html"><img src="assets/images/logo.svg" alt="logo" /></a>
            <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg"
                    alt="logo" /></a>
        </div>
        <ul class="nav">
            <app-sidebar></app-sidebar>
        </ul>
    </nav>
    
    <div class="container-fluid page-body-wrapper">
        <app-nav-bar></app-nav-bar>
        <div class="main-panel">
            <div class="content-wrapper">

                <router-outlet></router-outlet>
              
                <ng-template *ngIf="inSaldo">
                    <app-saldos></app-saldos>
                </ng-template>

                <ng-template *ngIf="inHistorySaldo">
                    <app-histy-saldos></app-histy-saldos>
                </ng-template>
                
                <ng-template *ngIf="inProductDetail">
                    <app-product-detail></app-product-detail>
                </ng-template>
                <div class="row ">
                    <div class="col-12 grid-margin">
                        <ng-template *ngIf="inProductList">
                        <app-product-list></app-product-list>
                    </ng-template>
                   </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                        <ng-template *ngIf="inMessage">
                            <app-messages></app-messages>
                        </ng-template>
                    </div>
                </div>
                <ng-template *ngIf="inMapa">
                    <app-mapa></app-mapa>
                </ng-template>
            </div>
            <app-footer></app-footer>
        </div>

    </div>
</div>

<ng-template #inLogin>
    <app-login ></app-login>
</ng-template>