<div class="page-header">
    <h3 class="page-title"> Carteira </h3>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <div class="template-demo">
                        <button type="button" class="btn btn-outline-info btn-fw" data-toggle="modal" data-target="#exampleModalCenter">
                            Despositar
                        </button>
                        <button type="button" class="btn btn-info btn-fw" disabled>Sacar (Em Desenvolvimento)</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <div class="card-header">
                        <h5> Compras Anteriores </h5>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Quantia</th>
                                    <th scope="col">Valor Pagar</th>
                                    <th scope="col">Valor em BTC/PIX</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Data Criado</th>
                                    <th scope="col">Data Pago</th>
                                    <th scope="col">Data Expirado</th>
                                    <th scope="col">Transacao</th>
                                    <th scope="col">Opcoes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="C7EKT6ZPJUAISCU_id">101492</td>
                                    <td id="C7EKT6ZPJUAISCU_quantia">RS100</td>
                                    <td id="C7EKT6ZPJUAISCU_valor_pagar">R$&nbsp;102,53</td>
                                    <td id="C7EKT6ZPJUAISCU_valor_pagar_btc">R$&nbsp;102,53</td>
                                    <td id="C7EKT6ZPJUAISCU_status_msg">Aguardando Pagamento</td>
                                    <td><span class="badge badge-fw" id="C7EKT6ZPJUAISCU_data_criado">14/08/2023
                                            17:14:04</span></td>
                                    <td><span class="badge badge-fw" id="C7EKT6ZPJUAISCU_data_pago"><span
                                                class="badge rounded-pill badge-danger">Expirado</span></span></td>
                                    <td><span class="badge badge-fw" id="C7EKT6ZPJUAISCU_data_expira">14/08/2023
                                            18:14:04</span></td>
                                    <td id="C7EKT6ZPJUAISCU_transacao_id">C7EKT6ZPJUAISCU</td>
                                    <td id="C7EKT6ZPJUAISCU_button"><button type="button"
                                            onclick="chkcompra('C7EKT6ZPJUAISCU','24bipxe18fmuh05cjryk29gnvi56dkszi3ahowd07elt');"
                                            class="btn rounded-pill btn-primary" data-bs-original-title=""
                                            title="">Verificar <i class="ion ion-logo-bitcoin"></i></button> </td>

                                </tr>

                                <tr>
                                    <td id="1JBE6AGUOIJ4JVJ_id">101048</td>
                                    <td id="1JBE6AGUOIJ4JVJ_quantia">RS100</td>
                                    <td id="1JBE6AGUOIJ4JVJ_valor_pagar">R$&nbsp;104,39</td>
                                    <td id="1JBE6AGUOIJ4JVJ_valor_pagar_btc">R$&nbsp;104,39</td>
                                    <td id="1JBE6AGUOIJ4JVJ_status_msg">Pagamento Aprovado</td>
                                    <td><span class="badge badge-fw" id="1JBE6AGUOIJ4JVJ_data_criado">11/08/2023
                                            17:35:34</span></td>
                                    <td><span class="badge badge-fw" id="1JBE6AGUOIJ4JVJ_data_pago">11/08/2023
                                            17:43:13</span>
                                    </td>
                                    <td><span class="badge badge-fw" id="1JBE6AGUOIJ4JVJ_data_expira">11/08/2023
                                            18:35:34</span></td>
                                    <td id="1JBE6AGUOIJ4JVJ_transacao_id">1JBE6AGUOIJ4JVJ</td>
                                    <td id="1JBE6AGUOIJ4JVJ_button"> </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Depositar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Valor</label>
                  <input type="text" class="form-control text-white" id="exampleFormControlInput1" placeholder="R$ 10">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Forma Pagamento</label>
                  <select class="form-control text-white" id="exampleFormControlSelect1">
                    <option>Selecione</option>
                    <option value="PIX">PIX</option>
                  </select>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#qrCodeAdicionar" (click)="startCountdown()">Adicionar Saldo</button>
        </div>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="qrCodeAdicionar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <form>

                <div class="form-group text-center">
                    <div class="timer">{{ minutes }}:{{ seconds }}</div>
                    <label for="exampleFormControlInput1">Qr Code Pix:</label>
                    <img height="200px" width="200px" class="img-fluid rounded mx-auto d-block" src="../../../assets/images/qrcode-pix.png" >
                </div>

                <div class="form-group">
                  <label for="exampleFormControlInput1">Código QrCode:</label>
                  <div class="form-group">
                    <output type="text" class="form-control text-white" id="exampleFormControlInput1" placeholder="">
                        62160512PAGAMENTO321630421A1
                    </output>
                  </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Código da Transferência:</label>
                    <output type="text" class="form-control text-white" id="exampleFormControlInput1" placeholder="447.204.654-69">PAGAMENTO321</output>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlInput1">Tipo de Chave:</label>
                    <output type="text" class="form-control text-white" id="exampleFormControlInput1" placeholder="447.204.654-69">CPF</output>
                  </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Valor:</label>
                    <output type="text" class="form-control text-white" id="exampleFormControlInput1" placeholder="">R$ 100</output>
                  </div>
               
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>