<div class="page-header">
    <h3 class="page-title"> Pagamento </h3>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Produtos</a>
                    </li>
                    
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">AVISO!</h5>
                <p class="card-text">Apos confimar a comprar, sera processado o pagamento, e liberado o produto.</p>
                <a href="#" class="btn btn-success">Finalizar Compra</a>
            </div>
        </div>
    </div>
</div>